@use '../abstracts/' as *;


footer {
   @include flexboxColAlignCenter;

    width: 100%;
    position: relative;
    background-color: $color-white;
}


footer svg {
    position: absolute;
    top:0;
    transform: translateY(-99.5%);
    z-index: -1;

}

footer hr {
    margin-top: 4rem;
    width: 90%;
}