@use '../abstracts/' as *;


.hero-img-container {
  margin-top: 6rem;
  width: 100%;
  height: 100vh;
  max-height: 70rem;
  position: relative;
  /* border: solid; */
}

.mission-statement-container {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
  border: solid;
  height: 50%;
}


.circle-container {
  border: solid 5px $color-secondary;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-color: whitesmoke;

  position: relative;
  top: 3rem;
  left: 3rem;
}

#hero-img {
  width: 95%;
  height: 95%;
  object-fit: cover;
  border-radius: 50%;
}
/* .hero-transition-cover {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: black;
  color: white;
  top: 0;
  left: 0;
  opacity: 0;
  height: 100%;
  width: 100%;
}
.hero-transition-cover * {
  font-size: 3rem;
} */

/* .hero-transition-cover:hover {
  opacity: 0.5;
  transition: all 0.2s ease-in-out;
} */

/* Back tro Top Button */

#back-to-top {
  position: fixed;
  top: 90%;
  left: 92.5%;
  border: solid 3px $color-white;
  border-radius: 50%;
  z-index: 99;
  background-color: $color-white;
}
